.instalador-accordion{
    padding: 20px 0px 20px 30px;
}

.instalador-accordion .instalador-item{
    cursor: pointer;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.table-actions{
    display: flex;
    justify-content: center;
}
.table-actions a:first-child{
    margin-right: 10px;
}
